@import './base.css';
@import 'tailwindcss';

@font-face {
  font-family: 'Marianne';
  src: url('./font/Marianne-Light.woff2') format('woff2'),
       url('./font/Marianne-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('./font/Marianne-Regular.woff2') format('woff2'),
       url('./font/Marianne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('./font/Marianne-Medium.woff2') format('woff2'),
       url('./font/Marianne-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('./font/Marianne-Bold.woff2') format('woff2'),
       url('./font/Marianne-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('./font/Marianne-ExtraBold.woff2') format('woff2'),
       url('./font/Marianne-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

html {
  @apply h-full bg-[#F6F6F6];
}

body {
  @apply h-full m-0 p-0 font-marianne text-[#161616];
}

#app {
  @apply min-h-full flex flex-col bg-[#F6F6F6];
}
